<%- include('partials/header') %>
<div class="container-fluid" style="padding: 0px;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img alt="Brand" src="./images/JG.jpg" style="width:50px; height: 50px;">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


  <img src='http://media.giphy.com/media/zXmbOaTpbY6mA/giphy.gif'/>
  <h1>Awesome Tweets</h1>
</div>

<%- include('partials/footer') %>
